@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */

/* Override Swiper styles */
/* .swiper-wrapper {
  height: 60% !important;
  width: 60% !important; 
} */
/* styles/globals.css */

/* Swiper container */
.swiper-container {
  width: 100%;
  height: auto;
  background-color: aqua;
}

/* Swiper wrapper */
.swiper-wrapper {
  position:relative  !important;
  height: 60% !important; /* Override height */
  display: flex;
  align-items: center;
}

/* Swiper slide */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9; /* Example background color */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Example shadow */
}

/* Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #000; /* Example button color */
  background-color: rgba(255, 255, 255, 0.8); /* Example background */
  border-radius: 50%;
  padding: 10px;
}

/* Swiper pagination */
.swiper-pagination-bullet {
  background-color: #000; /* Example bullet color */
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #ff5722; /* Example active bullet color */
}

element.style {
  position: absolute;
  height: 70%;
  width: 100%;
  inset: 0px;
  color: transparent;
}